* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  /* margin-left: 2vh; */
  /* margin-right: 2vh; */
}

/** SECTION-MAIN **************************
 */
.section-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: #1F2937;
  color: #F9FAF8;
  padding: 8px 10%;
}

/** HEADER *******************************
 */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-logo {
  font-weight: 900;
  font-size: 24px;
}

.header-links {
  display: flex;
  gap: 16px;
}

.header-links>a {
  text-decoration: none;
  color: #e4e4e4;
  font-weight: 300;
  font-size: small;
}

/** MAIN/ MAIN-CONTENT *******************
 */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 64px 0;
  gap: 64px
}

.main > img {
  /* height: 24vh; */
  max-width: 55%;
  height: auto;
}

.main > h1 {
  font-size: 48px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.main-content > p {
  font-weight: lighter;
  font-size: small;
}

.main-content > button {
  background-color: #3882F6;
  color: white;
  border: 0;
  padding: 8px 24px;
  text-align: center;
  border-radius: 8px;
}

.main-content > button:hover {
  background-color: white;
  color: #3882F6;
}

/** SECTION GALLERY *************************
 */
